@import './base.css';

#app {
  width: 100%;
}

input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background-color: var(--color-input);
}

button {
  font-family: "Poppins",sans-serif;
  font-weight: normal;
}

.btn-update,
.btn-delete {
  border-radius: 10px;
  width: 80px;
  color: white;
}

.btn-delete { background-color: var(--color-delete);}
.btn-update { background-color: var(--color-update);}

.error-message {
  color: red;
}


